<div class="column side">

	<p class="head">WHO TO FOLLOW</p>

		<% @users.each do |user| %>
		<% if user != current_user && !@current_followed_users.include?(user)%>
			<article class="user">
				<div class="">
					<%= default_avatar(user) %>
				</div>
				<div class="">
					<strong><%= link_to "#{user.full_name.capitalize}", user_path(user.id), class: "name" %></strong><br>
					<small>@<%= user.username %></small>
				</div>
			</article>
		<% end %>
		<% end %>

</div>