@import url('https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap');

 .logo-name {
 	font-family: 'Rock Salt', cursive;
 	font-size: 30px;
 	color: white;
 	// padding: 0;
 	margin-left: 30px;
 }

.icon {
	color: #555;
	font-size: 20px;
	padding: 0 20px;
}

.navbar-end {
	margin-right: 20px;
}