.profile {
	display: flex;
	flex-direction: column;
	background-color: #213246;
}

.side-nav li{
	padding: 10px 10px 10px 20px;
	&:hover {
		background-color: #4C9BD6;
		a {
			color: white;
		}
	}
	a {
		color: #667C91;
		font-weight: 500;
	}
}

.follow {
	display: flex;
	padding: 20px;
	border-bottom: 1px solid #444;
	.numb {
		color: #B0BCC8;
	}
	.follow-text {
		color: #667C91;
	}
	.folw {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		margin-right: 30px;

	}
}

.prof {
	display: flex;
	align-items: center;
	padding: 20px 0 0 20px;
	.prof-name {
		color: #667C91;
		font-weight: 500;
	}
	.prof-img {
		margin-right: 20px;
	}
}