/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

$panel-block-color: white;

// @import url('https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap');
@import "bulma";
@import '_profile';
@import '_nav';
@import '_feed';
@import '_who-to-follow';
@import '_user-feed';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  overflow: hidden;
}

// .is-fullheight {
// 	height: 100vh;
// 	background-color: #213246;
// }

// .logo {
// 	border-radius: 20%;
// 	margin-top: 7px;
// 	margin-left: 7px;
// 	margin-right: 10px;
// }

.avatar {
  border-radius: 20%;
  width: 64px;
  // display: flex;
  // justify-content: middle;
  // align-items: center;
}

.navbar {
  height: 80px;
}

.bord {
  display: flex;
  border: 1px solid gray;
  margin: 0;
  background-color: #f5f6f8;
  height: 100vh;
}

.logo-name {
  font-family: 'Rock Salt', cursive;
  font-size: 30px;
  color: white;
  // padding: 0;
  margin-left: 30px;
}
