<nav class="navbar is-info" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a href="/" class="navbar-item logo-name">
      <strong>RANTEN</strong>
    </a>
  </div>

  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-end">
      <% if current_user %>
      <div class="navbar-item">
        <span class="icon">
          <i class="fas fa-pen"></i>
        </span>
      </div>
      <div class="navbar-item">
        <span class="icon">
          <i class="fas fa-envelope"></i>
        </span>
      </div>
      <div class="navbar-item">
        <span class="icon">
          <i class="fas fa-search"></i>
        </span>
        </div>
        <% end %>
        <div class="navbar-item">
            <div class="dropdown is-hoverable is-right">
              <div class="dropdown-trigger">
                <span class="icon">
                  <i class="fas fa-cog" aria-controls="dropdown-menu" aria-haspopup="true" aria-hidden="true"></i>
                </span>
              </div>
              <div class="dropdown-menu" id="dropdown-menu" role="menu">
                <div class="dropdown-content">
                  <% if current_user %>
                  <%= link_to 'Logout', logout_path, class: "dropdown-item", method: :delete %>
                  <% else %>
                  <%= link_to 'Sign up', new_user_path, class: "dropdown-item" %>
                  <%= link_to 'Log in', login_path, class: "dropdown-item" %>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
          <%# end %>
        </div>
      </div>
    </nav>